@charset "utf-8";
/* CSS Document */

body {
  background-color: rgb(0, 0, 0);
  /* background-image: url(Images/stars.jpg); */
  color: black;
  font-family: "inter", sans-serif;
  font-size: 17px;
}

h1 {
  padding-left: 40px;
  color: #ffffff;
}

p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  color: #000143
}

a visited {
  color: #550047
}

/* my additions */

header {
  margin-bottom: 12px;
  padding-top: 6px;
  padding-left: 6px;
  color: white;
  text-align: center;
}

.navbar {
  background-color: #000000;
  padding-top: 5px;
  padding-bottom: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-size: 16;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  color: rgba(255, 255, 255, 0.2);
}

.logo {
  transform: translate(50%);
  text-align: center;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  padding-left: 49px;
  padding-right: 49px;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  transform: translate(15%);
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-top: 10px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.pageImage {

  position: relative;
  height: auto;
}

.index_text {
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
  font-size: 70px;
  text-align: left;
  top: 35%;
  padding-left: 40px;
}

.below_index_text {
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  top: 50%;
  padding-left: 40px;
}

.image-specific {
  filter: brightness(70%);
}

.main_content {
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}
